<header>
    <div class="header_top">
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="img/logo/logo.png" alt="logo" class="sicil"></a>
                
                <nav class="navigation">
                    <div class="menu" id="myMenu">
                        <ul>
                            <li><a href="index.html">О ресторане</a></li>
                            <li><a href="menu.html">Наше меню</a> </li>
                            <li><a href="contact.html">Связь с нами</a> </li>
                            <li><a href="photo.html">Галерея</a> </li>
                            <li><a href="comments.html">Отзывы</a> </li>
                            <li> <button id="myBtn">Забронировать столик</button></li>
                            <li><a href="#" id="icon" class="icon">&#9776;</a></li>
                        </ul>
                    </div>
                </nav>


                <div id="myModal" class="modal">


                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Забронировать столик</h2>
                        </div>
                        <div class="modal-body">
                            <p>Сделать форму брони</p>
                            <p>Сделать форму брони</p>
                        </div>
                        <div class="modal-footer">
                            <h3>Футер модального окна</h3>
                        </div>
                    </div>

                </div>




            </div>

        </div>
    </div>
</header>