<header>
    <div class="header_top">
        <div class="container">
            <div class="logo">
                <img src="img/logo/logo.png" alt="logo" class="sicil">

                <div class="text">
                    <p class="text_1">Мы всегда очень рады видеть вас в нашем ресторане</p>
                    <p class="text_2">Телефон: <a href="tel:+375291231234"> +375 (29) 123-12-34</a></p>
                </div>
            </div>

            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
                <ul class="menu__box">
                    <li><a class="menu__item" href="index.html">О ресторане</a></li>
                    <li><a class="menu__item" href="menu.html">Наше меню</a></li>
                    <li><a class="menu__item" href="contact.html">Связь с нами</a></li>
                    <li><a class="menu__item" href="photo.html">Галерея</a></li>
                    <li><a class="menu__item" href="comments.html">Отзывы</a></li>
                    <li><a class="menu__item" id="myBtn">Забронировать столик</a></li>
                </ul>
            </div>

        </div>
        <div id="myModal" class="modal">


            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Забронировать столик</h2>

                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="button_list">

                            <p>Ваше имя</p>
                            <input required type="text" name="firstname" placeholder="Как Вас зовут?" />
                            <p>Контактный номер телефона:</p>
                            <input required type="tel" name="nomber" placeholder="+375xxxxxxxxx" minlength="12"
                                value="" />

                            <p>Дата мероприятия</p>
                            <input required type="date" name="dateX" /><br />
                            <button type="reset" id="button_1">Очистить</button>
                            <button type="submit" id="button_2">Отправить</button>

                            <div class="search_form__text"></div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</header>