@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

$font-stack: 20px 'Bowlby One SC',
cursive;

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

.chef {
    display: flex;
    justify-content: space-around;



}

.bruno {
    width: 470px;
    margin: 100px;

}

h1 {
    color: #633e57;
    font-size: 50px;
    padding-bottom: 30px;
}
h3 {
    color: #633e57;
    font-size: 30px;
}

p {
    color: #633e57;
    font: $font-stack;

}

.home {
    width: 470px;
}


.home img {
    width: 100%;
    border-radius: 50%;
}
.pic {
    display: flex;
    justify-content: space-around;
}
.pic img {
    width: 23%;
}
.pic_last {
    display: flex;
    justify-content: space-around;
}
.pic_last img {
    width: 30%;
}
.prost {
    padding: 70px 0;
    width: 80%;
    margin-left: 10%;
}
.rew a {
    display: block;
    text-align: center;
}

.gal {
    text-align: center;

}

.gal img {
    width: 400px;
    height: auto;
}

.menu_comment {
    padding: 0 80px;
}

.menu_list {
    display: flex;
    justify-content: space-around;
}

.gor {
    width: 500px;
}

.salat {
    width: 500px;
}

.pasta {
    width: 500px;
}

.snack {
    width: 500px;
}
.food_bottom {
    display: flex;
    justify-content: space-around;
}
.food_top {
    margin: 50px 0;
}

.food_h {
    text-align: center;
    margin: 40px 0;
}
.food {
    width: 500px;
}
.food h3 {
    font-weight: 300;
    padding-top: 20px;
}



