@media (max-width: 1170px) {
    .menu a {
        display: none;
    }

    .header_top {
        height: 150px;
    }

    #myBtn {
        display: none;
    }

    .menu a.icon {
        display: block;
        font-size: 50px;
    }

    nav {
        width: 100%;
    }

    .responsive {
        position: relative;
        top: 100px;
        left: -60px;
        height: 200px;
        width: 100%;
        z-index: 10;
    }

    .responsive a.icon {
        position: absolute;
        top: -70px;
        right: 370px;
    }

    .responsive ul li a {
        display: block;
        color: #633e57;
        font-size: 50px;
        border-bottom: 3px solid #633e57;
    }


    .responsive ul {
        width: 90%;
        background: burlywood;
    }

    .responsive ul li #myBtn {
        display: block;
        color: #633e57;
        text-decoration: none;
        font-weight: 700;
        font-size: 50px;
    }

    .food_bottom {
        display: block;
        
    }

    .food {
        width: auto;
        text-align: center;
    }

    h3 {
        font-size: 40px;
    }
    .footer_top {
        height: 120px;
    }
    .contact {
        width: auto;
    }
    p {
        font-size: 35px;
    }
    .footer_2 {
        margin: 0 ;
        padding: 0;
    }

}



@media (max-width: 992px) {
    .responsive {
        top: 100px;
        left: -70px;
        height: 200px;
        width: 90%;
    }

    .responsive a.icon {
        position: absolute;
        top: -70px;
        right: 280px;
    }

    .responsive ul li a {
        font-size: 50px;
        border-bottom: 5px solid #633e57;
    }

    .header_top {
        height: 150px;
    }

    .menu a.icon {
        font-size: 60px;
    }


    .chef {
        display: block;
    }

    .bruno {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .home {
        width: 100%;
    }

    .pic {
        display: block;
        text-align: center;
    }

    .pic img {
        width: 70%;
    }

    .prost {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    #up {
        width: 80px;
        height: 80px;
    }
    h3 {
        font-size: 50px;
    }
    .footer_top {
        height: 140px;
    }
    .pic {
        display: none;
    }
    .footer_2 p {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    
}


@media (max-width: 480px) {
    
}

@media (max-width: 320px) {}