@media (max-width: 1170px) {
    .menu a {
        display: none;
    }

    .header_top {
        height: 150px;
    }
    .logo a .sicil {
        height: 150px;
        width: 200px;
        margin-left: 40px;
    }

    #myBtn {
        display: none;
    }

    .menu a.icon {
        display: block;
        font-size: 50px;
    }

    nav {
        width: 100%;
    }

    .responsive {
        position: relative;
        top: 100px;
        left: -60px;
        height: 200px;
        width: 100%;
        z-index: 10;
    }

    .responsive a.icon {
        position: absolute;
        top: -70px;
        right: 370px;
    }

    .responsive ul li a {
        display: block;
        color: #633e57;
        font-size: 50px;
        border-bottom: 3px solid #633e57;
    }


    .responsive ul {
        width: 90%;
        background-color: #c3bcbc;
    }

    .responsive ul li #myBtn {
        display: block;
        color: #633e57;
        text-decoration: none;
        font-weight: 700;
        font-size: 50px;
    }

    .food_bottom {
        display: block;

    }

    .food {
        width: auto;
        text-align: center;
    }

    h3 {
        font-size: 40px;
    }

    .footer_top {
        height: 120px;
    }

    .contact {
        width: auto;
    }

    .footer_2 {
        margin: 0 10% ;
        padding: 65px 0;
    }
    .footer_2 p {
        font-size: 25px;
    }
    .contact p {
        font-size: 25px;
    }
    .contact {
        width: 90%;
        padding: 0;
        text-align: center;
    }
    .footer_top {
        height: 150px;
    }
    .footer_1 img {
        height: 150px;
        width: 200px;
        margin-left: 40px;
    }
    #up {
        width: 60px;
        height: 60px;
    }

}

@media (max-width:1024px) {
    .picture {
        display: block;

    }

    .pic {
        width: 100%;
        text-align: center;
    }
    #up {
        width: 70px;
        height: 70px;
    }
}


@media (max-width: 992px) {
    .responsive {
        top: 100px;
        left: -70px;
        height: 200px;
        width: 90%;
    }

    .responsive a.icon {
        position: absolute;
        top: -70px;
        right: 280px;
    }

    .responsive ul li a {
        font-size: 50px;
        border-bottom: 5px solid #633e57;
    }

    .header_top {
        height: 150px;
    }

    .menu a.icon {
        font-size: 60px;
    }


    .chef {
        display: block;
    }

    .bruno {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .home {
        width: 100%;
    }



    .pic img {
        width: 45%;
    }

    .prost {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    #up {
        width: 80px;
        height: 80px;
    }

    h3 {
        font-size: 50px;
    }


    .modal-content {
        margin: auto;
        width: 90%;
    }


}

@media (max-width: 768px) {
    
 
}

@media (max-width: 480px) {
   
}