@media (max-width: 1170px) {
    .menu a {
        display: none;
    }
    .header_top {
        height: 150px;
    }

    #myBtn {
        display: none;
    }

    .menu a.icon {
        display: block;
        font-size: 50px;
    }

    nav {
        width: 100%;
    }

    .responsive {
        position: relative;
        top: 100px;
        left: -60px;
        height: 200px;
        width: 100%;
        z-index: 10;
    }

    .responsive a.icon {
        position: absolute;
        top: -70px;
        right: 370px;
    }

    .responsive ul li a {
        display: block;
        color: #633e57;
        font-size: 50px;
        border-bottom: 3px solid #633e57;
    }


    .responsive ul {
        width: 90%;
        background: burlywood;
    }

    .responsive ul li #myBtn {
        display: block;
        color: #633e57;
        text-decoration: none;
        font-weight: 700;
        font-size: 50px;
    }


}



@media (max-width: 992px) {
    .responsive {
        top: 100px;
        left: -70px;
        height: 200px;
        width: 90%;
    }
    .responsive a.icon {
        position: absolute;
        top: -70px;
        right: 280px;
    }
    .responsive ul li a {
        font-size: 50px;
        border-bottom: 5px solid #633e57;
    }

    .header_top {
        height: 150px;
    }

    .menu a.icon {
        font-size: 60px;
    }
   

    .chef {
        display: block;
    }

    .bruno {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .home {
        width: 100%;
    }

    .pic {
        display: block;
        padding: 0;
        text-align: center;
    }

    .pic img {
        width: 70%;
    }

    .prost {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .responsive {
        top: 100px;
        left: -70px;
        height: 200px;
        width: 90%;
    }
    .responsive a.icon {
        position: absolute;
        top: -70px;
        right: 280px;
    }
    .responsive ul li a {
        font-size: 50px;
        border-bottom: 5px solid #633e57;
    }
    .menu a .icon {
        font-size: 70px;
    }

    
}

@media (max-width: 480px) {
    .responsive {
        top: 100px;
        left: -70px;
        height: 200px;
        width: 90%;
    }

    .header_top {
        height: 150px;
    }
}

@media (max-width: 320px) {
    .responsive {
        top: 100px;
        left: -70px;
        height: 200px;
        width: 90%;
    }

    .header_top {
        height: 150px;
    }

   
}